* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    padding: 0 40px;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.header .header-box-1 {
    background-color: #FFA437;
    height: 100%;
    width: calc(50% - 10px);
}

.header .header-box-2 {
    background-color: #FFA437;
    height: 100%;
    width: calc(50% - 10px);
}

.content {
    width: 100%;
    height: fit-content;
    margin: 20px 0;
}
   
.content .content-row-1 {
    width: 100%;
    height: 250px;
}
.content .content-row-1 .content-box-3 {
    width: 100%;
    height: 250px;
    background-color: #DAEC00;
}

.content-row-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.content-row-2 .content-box-4 {
    background-color: #4A89D0;
    height: 150px;
    width: calc(33.333333% - 10px);
}

.content-row-2 .content-box-5 {
    background-color: #4A89D0;
    height: 150px;
    width: calc(33.333333% - 10px);
}

.content-row-2 .content-box-6 {
    background-color: #4A89D0;
    height: 150px;
    width: calc(33.333333% - 10px);
}

.footer {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.footer .footer-box-7 {
    background-color: #E3E3E3;
    height: 80px;
    width: calc(25% - 10px);
}

.footer .footer-box-8 {
    background-color: #E3E3E3;
    height: 80px;
    width: calc(25% - 10px);
}

.footer .footer-box-9 {
    background-color: #E3E3E3;
    height: 80px;
    width: calc(25% - 10px);
}

.footer .footer-box-10 {
    background-color: #E3E3E3;
    height: 80px;
    width: calc(25% - 10px);
}

/* tablet */
@media (min-width: 768px) and (max-width: 1200px) {
    .header {
        display: inline;
    }
    
    .header .header-box-1 {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    
    .header .header-box-2 {
        width: 100%;
        height: 50px;
    }

    .content-row-2 .content-box-4 {
        width: 100%;
    }
    
    .content-row-2 .content-box-5 {
        width: 100%;
    }
    
    .content-row-2 .content-box-6 {
        width: 100%;
    }

    .footer .footer-box-7 {
        width: calc(50% - 10px);
    }
    
    .footer .footer-box-8 {
        width: calc(50% - 10px);
    }
    
    .footer .footer-box-9 {
        width: calc(50% - 10px);
    }
    
    .footer .footer-box-10 {
        width: calc(50% - 10px);
    }
}

/* Mobile */
@media (max-width: 767px) {
    .header {
        display: inline;
    }
    
    .header .header-box-1 {
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
    }
    
    .header .header-box-2 {
        width: 100%;
        height: 50px;
    }

    .content-row-2 .content-box-4 {
        width: 100%;
    }
    
    .content-row-2 .content-box-5 {
        width: 100%;
    }
    
    .content-row-2 .content-box-6 {
        width: 100%;
    }

    .footer .footer-box-7 {
        width: 100%;
    }
    
    .footer .footer-box-8 {
        width: 100%;
    }
    
    .footer .footer-box-9 {
        width: 100%;
    }
    
    .footer .footer-box-10 {
        width: 100%;
    }
}